/* rgb(202, 119, 11) */
* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

/* section-2 starts */
.section-2 {
  width: 100%;
  height: 100vh;
  background-color: rgba(236, 177, 100, 0.938);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10rem 0;
}

.cards-container {
  display: flex;
  justify-content: space-evenly;
}

.card {
  width: 27rem;
  background-color: bisque;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1rem 1rem 1.5rem rgb(202, 119, 11);
  position: relative;
  transform: rotateY(20deg)skewX(-2deg);
  /* transition: transform .1s, box-shadow 0.5rem; */
}

.card:hover {
  transform: rotateY(20deg)skewX(-2deg)translateY(-3rem);
  box-shadow: 2rem 2rem 2rem rgba(95, 64, 23, 0.808);
  transition: transform .5s, box-shadow 0.5rem;
}

.card::before {
  content: "";
  height: 100%;
  width: 0.6rem;
  background-color: rgb(202, 119, 11);
  position: absolute;
  top: 0;
  left: -0.6rem;
  transform: skewY(45deg);
  transform-origin: right;
  box-shadow: -.1rem -.1rem .3rem rgba(95, 64, 23, 0.808);
}

.card::after {
  content: "";
  height: 0.6rem;
  width: 100%;
  background-color: rgb(202, 119, 11);
  position: absolute;
  top: -.6rem;
  left: 0;
  transform: skewX(45deg);
  transform-origin: bottom;
  box-shadow: -.1rem -.1rem .3rem rgba(95, 64, 23, 0.808);
}

.card-img {
  width: 100%;
}

.card-name {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: brown;
  margin: 1rem 0;
  text-shadow: .15rem .15rem .15rem rgb(156, 84, 84);
}


.card-btn {
  width: 40%;
  background-color: rgba(228, 142, 30, 0.952);
  color: whitesmoke;
  border-radius: 5rem;
  font-size: 1rem;
  font-weight: 500;
  /* letter-spacing: .2rem; */
  text-transform: capitalize;
  border: none;
  padding: 0.5rem 0;
  cursor: pointer;
  box-shadow: .2rem .2rem 0.2rem rgb(141, 83, 7);

}

/* .card-btn:active {
  box-shadow: none;
  transition: 0.1s;
} */

/* section-2 ends */